.details-container {
  color: bisque;
  padding: 10px;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }
}
.details-card {
  background: #000;
  margin: 5px;
}
.card-topp {
  padding: 5px;
}
